/*
 * _vars - Contains the overall variables and mixins for use later on
 */
#mobile-menu {
  display: none;
  outline: none;
}
@media (max-width: 767px) {
  .content-wrapper,
  .footer-wrapper,
  .frontpage-boxes {
    background-color: #ffffff;
  }
  .header-container a.logo {
    margin-top: 44px;
  }
  .wrap-mobilemenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .search-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-left: 110px;
    padding-right: 10px;
    z-index: 1;
    background-color: #f1f1f1;
  }
  .search-wrap .form-search {
    margin-top: 0;
  }
  .search-wrap .navbar-form {
    margin: 0;
    padding: 5px 0 0 0;
  }
  .search-wrap .navbar-form .search-btn {
    width: 10px;
    height: 14px;
    top: 13px;
    left: 11px;
    background-image: url(../images/search_icon_mobile.png);
  }
  .search-wrap .navbar-form input {
    height: 30px;
    font-size: 0.857em;
    padding: 3px 0 0 30px;
  }
  *:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
  }
  #mobile-menu {
    margin-left: 0px;
    width: 85%;
    float: left;
    background-color: #ececec;
  }
  #mobile-menu h3 {
    background-color: #ffffff;
    margin: 0 0 0;
    padding: 7px 0 0 6px;
    height: 74px;
  }
  #mobile-menu h3 span {
    margin-left: 17px;
    display: inline-block;
    text-transform: uppercase;
    color: #000;
  }
  #mobile-menu h3 a {
    display: block;
    overflow: hidden;
    text-indent: -1000em;
    cursor: pointer;
    background: url(../images/bovia_logo_mobilemenu.png) no-repeat;
    width: 140px;
    height: 60px;
    outline: none;
  }
  #mobile-menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
  }
  #mobile-menu ul li {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }
  #mobile-menu ul li a,
  #mobile-menu ul li a:link,
  #mobile-menu ul li a:visited {
    border-bottom: 1px solid #ababab;
    color: #333333;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 11px 0 11px 20px;
    outline: none;
    position: relative;
    cursor: pointer;
    /*text-overflow:ellipsis;*/
    overflow: hidden;
    /*white-space: nowrap;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ui-bar-a {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #c8c8c8));
    border: none !important;
    border-bottom: 1px solid #323232 !important;
    color: #444 !important;
    height: 42px !important;
    text-shadow: none;
  }
  .ui-btn-corner-all {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  #mobile-menu .active {
    outline: hidden;
  }
  #mobile-menu ul li a.top-link,
  #mobile-menu ul li ul li a:link,
  #mobile-menu ul li ul li a:visited {
    box-shadow: 0 1px 0 #323232;
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    text-transform: none;
    width: 100%;
    display: block;
    padding: 10px 0 10px 50px;
  }
  #mobile-menu ul li:first-child {
    border-top: 1px solid #ababab;
  }
  #mobile-menu ul ul li:first-child {
    border-top: none;
  }
  #mobile-menu ul ul li {
    border-left: none;
    border-right: none;
  }
  #mobile-menu ul ul li[class*="L2"] {
    padding-left: 0;
  }
  #mobile-menu ul > li > ul {
    margin: 0;
    background-color: #ffffff;
    max-height: 0;
    transition: max-height 0.4s ease-out 0.2s;
    /* Firefox 4 */
    -moz-transition: max-height 0.4s ease-out 0.2s;
    /* Safari and Chrome */
    -webkit-transition: max-height 0.4s ease-out 0.2s;
    /* Opera */
    -o-transition: max-height 0.4s ease-out 0.2s;
  }
  #mobile-menu ul > li.active > ul {
    max-height: 1200px;
    transition: max-height 0.6s ease-in 0.4s;
    /* Firefox 4 */
    -moz-transition: max-height 0.6s ease-in 0.4s;
    /* Safari and Chrome */
    -webkit-transition: max-height 0.6s ease-in 0.4s;
    /* Opera */
    -o-transition: max-height 0.6s ease-in 0.4s;
  }
  #mobile-menu ul li ul li a:link,
  #mobile-menu ul li ul li a:visited {
    font-size: 0.786em;
    text-transform: uppercase;
    padding-left: 35px;
    background: url(../images/nav_bullet_grey.png) no-repeat 20px 15px;
  }
  #mobile-menu ul li ul li ul li {
    background: #f1f1f1;
  }
  #mobile-menu > ul > li > ul > li.active {
    background: #e0e0e0;
  }
  #mobile-menu ul li ul li ul li ul li {
    background: #f1f1f1;
  }
  #mobile-menu ul li ul li ul li a:before {
    background: url("../images/arrows-bullet-sprite.png") no-repeat scroll right -5px transparent;
    content: "";
    display: inline-block;
    height: 5px;
    padding-left: 0px;
    width: 8px;
  }
  .devider {
    background: #333366;
    height: 5px;
  }
  a.showMenu {
    color: #141414;
    font-size: 0.929em;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 40px;
    padding: 9px 0 0 15px;
    background: url("../images/bleau.mobile-menu-ico.png") no-repeat 0 12px;
  }
  a.showMenu:hover {
    text-decoration: none;
  }
  .fixed-mobile-content {
    display: block;
  }
  .container {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
  }
  .wrap-top-menu .col-md-6.wrap-mobilemenu {
    width: 116px;
  }
  .wrap-top-menu .col-md-6 {
    float: left;
    width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  #page {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #wrapper,
  .wrap-holder {
    background: #fff;
    width: 100%;
  }
  .wrap-top-menu .col-md-6.wrap-mobilemenu {
    width: 116px;
  }
  .wrap-top-menu .col-md-6 {
    float: left;
    width: 50%;
  }
}
