@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?62694797');
  src: url('../font/fontello.eot?62694797#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?62694797') format('woff'),
       url('../font/fontello.ttf?62694797') format('truetype'),
       url('../font/fontello.svg?62694797#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?62694797#fontello') format('svg');
  }
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-coffee:before { content: '\e800'; } /* '' */
.icon-child:before { content: '\e825'; } /* '' */
.icon-food:before { content: '\e802'; } /* '' */
.icon-gas:before { content: '\e803'; } /* '' */
.icon-hairstyle:before { content: '\e804'; } /* '' */
.icon-hotels:before { content: '\e805'; } /* '' */
.icon-house:before { content: '\e806'; } /* '' */
.icon-music:before { content: '\e810'; } /* '' */
.icon-pallete:before { content: '\e80f'; } /* '' */
.icon-pet:before { content: '\e80e'; } /* '' */
.icon-pin:before { content: '\e80d'; } /* '' */
.icon-pin-star:before { content: '\e80c'; } /* '' */
.icon-smile:before { content: '\e80a'; } /* '' */
.icon-success:before { content: '\e809'; } /* '' */
.icon-tree:before { content: '\e808'; } /* '' */
.icon-wheel:before { content: '\e807'; } /* '' */
.icon-car:before { content: '\e811'; } /* '' */
.icon-cardio:before { content: '\e812'; } /* '' */
.icon-spin2:before { content: '\e820'; } /* '' */
.icon-user:before { content: '\e816'; } /* '' */
.icon-picture:before { content: '\e813'; } /* '' */
.icon-plus-circled:before { content: '\e80b'; } /* '' */
.icon-drink:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e819'; } /* '' */
.icon-credit-card-1:before { content: '\e81a'; } /* '' */
.icon-building:before { content: '\e829'; } /* '' */
.icon-home-1:before { content: '\e826'; } /* '' */
.icon-tools:before { content: '\e82a'; } /* '' */
.icon-briefcase:before { content: '\e81b'; } /* '' */
.icon-graduation-cap:before { content: '\e821'; } /* '' */
.icon-th:before { content: '\21'; } /* '!' */
.icon-book-open:before { content: '\e818'; } /* '' */
.icon-aperture-alt:before { content: '\e822'; } /* '' */
.icon-home:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e81d'; } /* '' */
.icon-cinema:before { content: '\e814'; } /* '' */
.icon-lodging:before { content: '\e81e'; } /* '' */
.icon-school:before { content: '\22'; } /* '&quot;' */
.icon-phone:before { content: '\e817'; } /* '' */
.icon-cog:before { content: '\e81c'; } /* '' */
.icon-wrench:before { content: '\e827'; } /* '' */
.icon-wrench-circled:before { content: '\e828'; } /* '' */
.icon-network:before { content: '\e81f'; } /* '' */
.icon-credit-card:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e824'; } /* '' */