html{
    background: #fff;
}
#my-carousel ul, #my-carousel1 ul{
padding: 7px 0 0 14px;
}

#my-carousel ul, #my-carousel1 ul {
    position:absolute; /* required */
    margin:0;
    list-style:none;
}
#my-carousel1 ul {
    top:117px;
}
#my-carousel ul li, #my-carousel1 ul li  {
    float:left; /* required */
    width:140px;
    height:10px;
    margin:0 10px 4px 0;
    position: relative;
   
}
 
#my-carousel .mask {
    position:relative; /* required */
    overflow:hidden; /* required */
    width:275px; /* required */
    padding: 0px 10px;
}
 
#my-carousel .pagination-links {
    list-style:none;
    margin:0;
    padding:0;
    display: none;
}
 
#my-carousel .pagination-links li {
    display:inline;
}
 
#my-carousel .pagination-links li.current {
    background:grey;
}
 
#my-carousel .disabled {
    opacity: 0;
}
#my-carousel1 a.next,#my-carousel1 a.prev {
    position: absolute;
    top:100px;
    width: 10px;
    height: 20px;
}
#my-carousel1 a.next{
    right: 0;
    background: url(/images/banners/banner_slider_right.png) no-repeat left 2px;
}
#my-carousel1 a.prev{
    left: 0;
    background: url(/images/banners/banner_slider_left.png) no-repeat right 2px;
}
.banner-wrap{
    width: 300px;
    height: 250px;
    overflow: hidden;
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    max-width: 300px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.banner-wrap header {
    height: 20px;
    overflow: visible;
}
.banner-wrap header section{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #831F5D),
        color-stop(1, #A9287A)
        );
    background-image: -o-linear-gradient(top, #831F5D 0%, #A9287A 100%);
    background-image: -moz-linear-gradient(top, #831F5D 0%, #A9287A 100%);
    background-image: -webkit-linear-gradient(top, #831F5D 0%, #A9287A 100%);
    background-image: -ms-linear-gradient(top, #831F5D 0%, #A9287A 100%);
    background-image: linear-gradient(to top, #831F5D 0%, #A9287A 100%);
    color:#fff;
    padding:4px 1px;
    text-align: center;
    width: 200px;
    float: left;
   -webkit-border-bottom-right-radius: 8px;
-moz-border-radius-bottomright: 8px;
border-bottom-right-radius: 8px;
}
.banner-wrap header  section h2{
    font-size: 9px;
    text-transform: uppercase;
    margin: 0;
}
.banner-wrap header .logo{
    float: right;
    width: 88px;
    height: 25px;
    overflow: visible;
}
.banner-wrap .places-slider{
    padding: 0 5px;
    position: relative;
}

.banner-wrap .places-slider ul li a{
    color:#565656;
    text-decoration: none;
}
.banner-wrap .places-slider ul li .img-wrap{
    height: 60px;
    overflow: hidden;
}
.banner-wrap .places-slider ul li .img-wrap .shake{
    position: absolute;
    top: 20px;
    right: 7px;
}

.banner-wrap .places-slider ul li .company-image{
    height: auto!important;
    position: relative;
    width: 80px;
}
.banner-wrap .places-slider ul li p{
    max-height: 20px;
    max-width: 120px;
    text-overflow:ellipsis;
    overflow: hidden;
    margin:0 ;
    font-size: 12px;
}
.banner-wrap .place_rateing .review_count {
color: #383838;
background: url(/images/gui/bg_review_count_gray.png) no-repeat left 2px;
padding-left: 17px;
margin-top: -5px;
}
.banner-wrap .flex-direction-nav .flex-prev{
  background: url(/images/banners/banner_slider_left.png) no-repeat left 2px;
}
.banner-wrap .flex-direction-nav .flex-next{
  background: url(/images/banners/banner_slider_right.png) no-repeat left 2px;
}
