.content_in_full.index_offers .offer_hint,.offer_hint {
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#414040;
    font-weight: bold;
    margin:0px 0 20px 0;
}
.content_in_full.index_offers .offer_hint.business{
    background: #f7d5eb;
    padding: 18px 22px;
}
.content_in_full.index_offers .offer_hint.business p{
    margin: 0;
}
.content_in_full.index_offers .offer_hint.business p span{
    font-size: 14px;
}
.content_in_full.index_offers .pager .pager_right{
   float:right;
}
.content_in_full.index_offers .pager .pager_center{
   float:none;
   margin: 0 auto;
}

.all_offers_wrap{
    margin-right:-25px;
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    font-smooth: always;
   -webkit-font-smoothing: antialiased;
}
.single_offer_wrap{
    padding: 0;
    width: 292px;
    max-width: 292px;
    min-height: 420px;
    max-height: 420px;
    float:left;
    margin: 0 5px 20px 0;
    border:1px solid #c0c0c0;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out; 
    transition: all 0.2s ease-out;
}


.single_offer_wrap.expired_offer{
    opacity: 0.6;
}

.single_offer_wrap a.link_to_offer{
    display: inline-block;
    height: 420px;
    background: transparent;
    width: 292px;
    z-index: 30;
    position: absolute;
    z-index: 10000;
}

.single_offer_wrap .offer_image{
    height: 220px;
    max-height: 220px;
    overflow: hidden;
    position: relative;
}
.single_offer_wrap .offer_image img{
    width:100%;
    height:220px;
    position: absolute;
    left: 0;
}
.single_offer_wrap .offer_image .hover-pic {
    position: absolute;
    width: 100%;
    height: 220px;
    top: 220px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.single_offer_wrap .offer_image img.expiring_soon{
    margin-top: -27px;
}
.single_offer_wrap .offer_image .expiration_strip, .offer_desc.offer_layout .offer_image .expiration_strip {
    background: rgba(1, 177, 180, 0.6);
    transform: rotate(-40deg);
   -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    position: relative;
    margin: -3px 0 0 -66px;
    padding: 3px 67px 6px 67px;
    color:#FFF;
    font-size: 15px;
    z-index: 9999;
    opacity: 1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.hidden {
   opacity: 0!important;
   }
.single_offer_wrap .offer_image .expiration_strip.expired, .offer_desc.offer_layout .offer_image .expiration_strip.expired{
    background: #fff;
    color: #383838;
    font-weight: bold;
}

.single_offer_wrap .offer_image .offer_benefits{
    margin: -42px 0 0 0;
    padding: 8px 6px;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.3);
    position:absolute;
    overflow: hidden;
    height: 24px;
    line-height: 26px;
    min-width:292px;
    max-width:292px;
    z-index:5;
}
.offer_benefits .offer_description{
    color:#fff;
    font-size: 16px;
    padding: 0 10px;
}
.single_offer_wrap .offer_image .offer_benefits a{
    margin:0;
    color:#fff;
    font-size: 16px;
    font-style: italic;
 
   line-height: 30px;
}
.offer_benefits .tags a span{
    color:#fff!important;
}
.offer_benefits ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.offer_benefits .tags{
    margin: 0 0 0 12px;
    padding:0;
    list-style:none;
}
.tags li, .tags a{
    float:left;
    height:30px;
    line-height:24px;
    position:relative;
    font-size:11px;
}
.tags a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#01B1B4;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;	
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;	
    border-top-right-radius:4px;	
}
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #01B1B4 transparent transparent;
	border-style:solid;
	border-width:15px 12px 15px 0;	
	}
.tags a:after{
	content:"";
	position:absolute;
	top:13px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}        
.single_offer_wrap .offer_image .offer_benefits a span{
    color:#979797;
    font-weight: lighter;
    text-decoration:line-through;
    margin-left: 10px;
}
.single_offer_wrap .offer_content{
    padding:5px 10px;
}
.single_offer_wrap .offer_content p.offer_description{

  margin: 0 0 26px 0;
  height: 38px;
  font-size: 15px;
  color:#383838;
  font-weight: bold;
}

.single_offer_wrap .offer_content p.company_classification, .single_offer_wrap .offer_content .count_down_timer p, .offer_desc.offer_layout .offer_content p.company_classification{
    color: #818181;
    font-weight: lighter;
    margin: 0 0 3px 0;
    font-size: 13px;
}
.single_offer_wrap .offer_content .company_provider{
    max-height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single_offer_wrap .offer_content .company_provider p{
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single_offer_wrap .offer_content .company_provider,.offer_desc.offer_layout .offer_content .company_provider{
    margin: 0 -10px;
    background: #ebebeb;
    padding: 4px 10px;
    font-size: 13px;
}

.single_offer_wrap .offer_content .bottom_wrap{
    display: inline-block;
    padding: 12px 0;
    width: 100%;
}
.single_offer_wrap .offer_content .bottom_wrap a.button_pink{
    float:right;
    font-size:18px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 8px;
    padding-right: 26px;
}
.single_offer_wrap .offer_content .bottom_wrap a.button_pink.smaller{
    padding: 8px 15px 8px 4px;
}
.single_offer_wrap .offer_content .bottom_wrap a.button_pink.mk_btn{
    padding-right: 10px;
}
.single_offer_wrap .offer_content .bottom_wrap .remaining_vouchers, .offer_desc.offer_layout .offer_content .bottom_wrap .remaining_vouchers{
   display: inline-block;
    background: #01b1b4;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    padding: 3px 2px;
    color: #fff;
    font-size: 13px;
    min-width: 21px;
    text-align: center;
    left: 93%;
    bottom: 58px;

}
.single_offer_wrap .offer_content .company_provider a, .offer_desc.offer_layout .offer_content .company_provider a{
    color:#000;
    font-weight: bold;
}
.single_offer_wrap .offer_content .company_provider p{
    margin: 0;
}
.single_offer_wrap .offer_content .count_down_timer{
    float: left;
    text-align: right;
    max-width: 122px;
}
.single_offer_wrap .offer_content .count_down_timer.counter_mk{
    max-width: 140px;
}
.single_offer_wrap .offer_content .count_down_timer p{
    margin-right: 4px;
}

/*Countdown timer*/
.hasCountdown {
	display: inline-block;
        width:auto!important;
        height:auto!important;
        font-size: 7px;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width:30px;
}
.countdown_show4 .countdown_section {
	width: 30px;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size:75%;
	text-align: left;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
.single_offer_wrap .offer_content .count_down_timer.counter_bg{
    max-width: 143px;
}
/*END Countdown timer*/
@-moz-document url-prefix() {
    .single_offer_wrap .offer_image img.expiring_soon{
    margin-top: -28px;
}
.offer_benefits_wrap .option_fields_wrap .option_1 input {
    margin-right: 18px !important;
}

.single_offer_wrap .offer_content .bottom_wrap a.button_pink.smaller{
    padding: 8px !important;
}
.single_offer_wrap .offer_content .count_down_timer{
    max-width: 150px!important;
}
.single_offer_wrap .offer_content .count_down_timer.counter_ro{
    max-width: 126px!important;
}
.single_offer_wrap .offer_content .count_down_timer.counter_mk{
    max-width: 140px!important;
}
.single_offer_wrap .offer_content .count_down_timer.counter_bg{

}
.offer_desc.offer_layout .offer_content .bottom_wrap{
    margin-top: 22px !important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.not_logged_mk{
    margin-top: 16px !important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.voucher_form_layout{
    margin-top:5px !important;
}
.offer_desc.offer_layout .offer_image img.expiring_soon, .offer_desc.offer_layout .offer_image img.expired{
    margin-top: -30px !important;
}
form#voucher_form .voucher_count.moz{
    width: 128px!important;
    max-width: 128px!important;
}
form#voucher_form .voucher_count.voucher_form_layout{
    width: 80px!important;
    max-width: 80px!important;
}
form#voucher_form .voucher_count.voucher_form_layout_ro{
    width: 115px!important;
    max-width: 115px!important;
}
form#voucher_form .voucher_count.voucher_form_layout_mk.moz{
    width: 100px!important;
    max-width: 100px!important;
}
form#voucher_form input.button_pink.voucher_form_layout{
    margin-top: 11px!important;
}

form#voucher_form .voucher_count.bg_voucher_form{
    max-width: 115px!important;
}

.offer_desc.offer_layout .offer_content .bottom_wrap.voucher_form_layout_sr{
    margin-top: 19px !important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.logged_in_bg_en{
    margin-top: 16px!important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.not_logged_in_bg{
    margin-top: 21px!important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.not_logged_in_en{
    margin-top: 21px !important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.logged_in_bg{
     margin-top: 20px!important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap a.button_pink.bigger_button.moz{
    padding:10px 35px 10px 20px!important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap .remaining_vouchers.login_required{
    bottom: 81px !important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.logged_ro{
    margin-top: 4px !important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap  a.button_pink.logged_in_mk.moz{
    padding: 10px 17px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_1 ul.error_list{
    margin-right: 18px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_2 input.bg_labels{
    margin:0 6px 0 0px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_3 input.bg_labels{
    margin: 0 0 0 29px !important;;
}
.offer_benefits_wrap .option_fields_wrap .option_3 ul.error_list{
    margin-left: 100px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_3 input.ro_labels{
    margin-left: 36px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_2 input.ro_labels{
    margin:0 6px 0 7px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_3 input.sr_labels{
    margin-left: 30px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_2 input.sr_labels{
    margin:0 7px 0 21px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_3 input.mk_labels{
    margin-left: 28px!important;
}
.offer_benefits_wrap .option_fields_wrap .option_2 input.mk_labels{
    margin:0 6px 0 18px!important;
}
/*Sort filter Mozilla*/
ul.sorting_wrap{
    padding: 10px 48px 10px 20px!important;
}

/*END Sort filter Mozilla*/
}
/*Form benefits layout*/
.offer_benefits_wrap .benefit_choice ul.radio_list{
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 120px;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.logged_ro{
    margin-top: 8px;
}
.offer_benefits_wrap .benefit_choice > label{
    margin-bottom: 15px;
}
.offer_benefits_wrap .benefit_choice ul.radio_list .ez-radio{
    margin-top: 3px;
    width: 20px;
}
.offer_benefits_wrap .benefit_choice ul.radio_list .ez-radio input{
    float: left;
    width: 20px;
    min-width: 20px;
}

.offer_benefits_wrap .benefit_choice ul.radio_list li{
  padding: 0;
  display: inline-block;
}
.offer_benefits_wrap .benefit_choice ul.radio_list li label{
   float: left;
   display: inline-block;
   color:#292929;
   font-size: 14px;
   font-weight: bold;
}

.offer_benefits_wrap .option_fields_wrap{
    display: inline-block;
    width: 425px;
    float: right;
}
.offer_benefits_wrap .option_fields_wrap .form_box span.pink{
    margin: 7px 20px 0 0;
    float: left;
    color:#A9287A !important;
}
.offer_benefits_wrap .option_fields_wrap .option_1 .form_box span.pink{
      margin: 7px 0px 0 0;
}
.offer_benefits_wrap .option_fields_wrap .form_box{
    display: inline-block;
    float:left;
    width:300px;
}
.offer_benefits_wrap .option_fields_wrap .option_2 .form_box span{
    color:#292929;
    font-size: 15px;
}
.offer_benefits_wrap .option_fields_wrap .option_2 .form_box .percent_sign{
    font-size: 22px;
    line-height: 38px;
}
.offer_benefits_wrap .option_fields_wrap label{
   margin: 7px 0 0 0;
}
.offer_benefits_wrap .option_fields_wrap label, .offer_benefits_wrap .option_fields_wrap input{
    float:left;
    display: inline-block;
}
.offer_benefits_wrap .option_fields_wrap .option_1, .offer_benefits_wrap .option_fields_wrap .option_2, .offer_benefits_wrap .option_fields_wrap .option_3{
    border: 1px solid #dbdbdb;
    background: #fff;
    margin-bottom: 8px;
    padding:10px 20px 0px 20px;
}
.offer_benefits_wrap .option_fields_wrap .option_1.selected, .offer_benefits_wrap .option_fields_wrap .option_2.selected, .offer_benefits_wrap .option_fields_wrap .option_3.selected{
    background: #defbfb;
}
.offer_benefits_wrap .option_fields_wrap .option_1 input{
    width: 158px;
    max-width: 158px;
    min-width: 158px;
    float: right;
    margin-right: 27px;
}
.offer_benefits_wrap .option_fields_wrap .option_1 ul.error_list{
    display: inline-block;
    float: right;
}
.offer_benefits_wrap .option_fields_wrap .option_1 ul.error_list{
    width: 178px;
    max-width: 178px;
    margin-right: 27px;
}

.offer_benefits_wrap .option_fields_wrap .option_2 ul.error_list{
    float: left;
    margin:0 0 0 75px;
}
.offer_benefits_wrap .option_fields_wrap .option_3 ul.error_list{
   width: 273px;
   margin-left: 92px;
   display: inline-block;
}
.offer_benefits_wrap .option_fields_wrap .option_2 input{
    width: 64px;
    max-width: 64px;
    min-width: 64px;
    margin: 0 6px 0 0px;
}

.offer_benefits_wrap .option_fields_wrap .option_3 .form_box{
    width:100%;
}
.offer_benefits_wrap .option_fields_wrap .option_3 dt#stat{
    float:right;
}
.offer_benefits_wrap .option_fields_wrap .option_3 input{
    margin-left: 30px;
    max-width: 252px;
    width: 252px;
}
/*END Form benefits layout*/
/*EN Form details*/
.dealForm .additional_info_gray_bg.offer_in_english, .offer_in_english {
    display: none;
}
.dealForm .dotted {
    padding: 10px 0;
}
.dealForm .dotted h2{
    color:#a9287a;
    font-size: 15px;
    font-weight:lighter;
    float: left;
    cursor: pointer;
}
.dealForm .dotted .arrow_up_down.down{
    background: url(/images/gui/pink_arrow_down.png) no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 3px 4px;
    cursor: pointer;
}
.dealForm .dotted .arrow_up_down.up{
    background: url(/images/gui/pink_arrow_up.png) no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 3px 4px;
    cursor: pointer;
}
/*end EN Form details*/

/*Single offer layout*/
.offer_wrap.offer_layout{
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
}
.offer_desc.offer_layout.no_benefits{
    min-height: 257px;
}
.offer_desc.offer_layout.no_benefits .offer_content{
    margin-top: 75px;
}
.offer_desc.offer_layout{
    border:1px solid #a2a2a2;
    background:none;
    max-height: 257px;
    overflow: hidden;
}
.offer_desc.offer_layout .offer_main_benefits{
    background: #01b1b4;
    color:#fff;
    float:left;
    width: 601px;
   padding:0px 16px 4px 16px;
   min-height: 70px;
}
.offer_main_benefits h4, .offer_main_benefits h5{
    margin:0;
}
.offer_benefits ul a{
    font-weight: bold!important;
}

.offer_main_benefits h4 {
    font-size: 35px;
    font-weight: bold;
}

.offer_main_benefits h4 span{
    font-size: 21px;
    font-weight: lighter;
    text-decoration:line-through;
    color:#b5e8e9;
}

.offer_main_benefits h5{
    font-size: 18px;
    font-style: italic;
}
.offer_desc.offer_layout .offer_content{
    padding: 10px 20px;
    display: inline-block;
    width: 593px;
    max-height: 162px;
    min-height: 162px;
}
.offer_desc.offer_layout .offer_content .company_provider{
    margin: 0 -20px;
    padding: 4px 20px;
}
.offer_desc.offer_layout .offer_content p.offer_title,
.offer_desc.offer_layout .offer_content h1.offer_title {
    font-size: 15px;
    color: #383838;
    font-weight: bold;
    min-height: 44px;
    max-height: 44px;
    margin-bottom: 10px;
    margin-top: 0;
}
.offer_desc.offer_layout .offer_content p.company_classification {
    margin: 0 0 6px 0;
}
.offer_desc.offer_layout .offer_content .voucher_dates{
    display: inline-block;
    float:left;
    margin-right: 10px;
}
.offer_desc.offer_layout .offer_content .voucher_dates p{
    color:#383838;
    font-size: 14px;
    margin: 0 0 3px 0;
}

.offer_desc.offer_layout .offer_content .bottom_wrap{
    display: inline-block;
    width: 100%;
    margin-top: 22px;
}
.offer_desc.offer_layout .offer_content .bottom_wrap.voucher_form_layout{
    margin-top:8px;
}
.offer_desc.offer_layout .offer_content .bottom_wrap .order_module{
    float:right;
    margin-right: -25px;
}
.offer_desc.offer_layout .offer_content .bottom_wrap .count_down_timer{
    float:left;
    color: #383838;
}
.offer_desc.offer_layout .offer_content .bottom_wrap .count_down_timer p{
    margin:0 0 3px 0;
}

.offer_desc.offer_layout .offer_content .voucher_dates p.smaller, .offer_desc.offer_layout .offer_content .bottom_wrap .count_down_timer p.smaller{
    font-size: 13px !important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap  a.button_pink{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    float: right;
    border-bottom-left-radius: 0px;
}
.offer_desc.offer_layout .offer_content .bottom_wrap a.button_pink.bigger_button{
    padding: 10px 50px 10px 20px;
}
.offer_desc.offer_layout .offer_content .bottom_wrap .remaining_vouchers{
 left: 74% !important;
 bottom: 24px !important;
 padding: 8px 8px !important;
 font-size: 16px;
}

.offer_desc.offer_layout .offer_content .bottom_wrap .remaining_vouchers.for_bigger_button{
    left: 76% !important;
    bottom: 20px !important;
}
.offer_desc.offer_layout .offer_content .bottom_wrap .remaining_vouchers.login_required.for_bigger_button{
    left: 70% !important;
    bottom: 70px !important;
}
form#voucher_form .voucher_count{
    float: left;
    width: 128px;
    max-width: 128px;
    text-align: center;
    font-size: 13px;
    color: #383838;
}
form#voucher_form .voucher_count.voucher_form_layout{
    width: 90px;
    max-width: 90px;
}
form#voucher_form .voucher_count select#vouchers{
    padding: 1px 10px;
}

form#voucher_form input.button_pink{
   padding: 10px 20px;
   font-size: 20px;
   font-weight: bold;
   font-style: italic;
   display: inline-block;
   border-bottom-left-radius: 0px;
}
form#voucher_form input.button_pink.voucher_form_layout{
    margin-top: 14px;
}
.offer_desc.offer_layout .offer_content .bottom_wrap .remaining_vouchers.order_via_form{
   left: 78% !important;
   bottom: 76px !important
}
.offer_desc.offer_layout .offer_content .bottom_wrap .remaining_vouchers.login_required{
    left: 64% !important;
    bottom: 74px !important;
}
.offer_desc.offer_layout .offer_image {
    float:left;
    overflow: hidden;

}
.offer_desc.offer_layout .offer_image .expiration_strip,.offer_desc.offer_layout .offer_image .expiration_strip.expired{
    font-size: 17px;
    z-index: 1;
}
.offer_desc.offer_layout .offer_image img.expiring_soon, .offer_desc.offer_layout .offer_image img.expired{
    margin-top: -29px;
}
.offer_desc.offer_layout .offer_image img.expired{
    opacity: 0.6;
}
.offer_wrap.offer_layout .offer_description{
    margin-top: 20px;
}
.offer_wrap.offer_layout .login_form_wrap{
    border:1px solid #ccc;
}
.offer_hint.offer_layout {
  background: #dad7cc;
  padding: 22px;
  margin: 30px 0 0 0;
}
.offer_hint.offer_layout p{
    margin: 0;
}
/*Offers new/edit form*/
.form_box.upload_photo img#img_prev.error{
    border: 1px solid #ff0000;
    margin: 0 0 2px 0;
}
form.dealForm input#company_offer_file{
    margin-right: 10px;
}
.image_crop_wrapper{
    width: 905px;
    background: #f2f2f2;
    padding: 20px 0 20px 20px;
    margin-left: -265px;
    border-radius: 3px;
    -o-border-radius:3px;
    -moz-border-radius: 3px;
}
.crop_tool_labels{
    display: inline-block;
    width:100%;
}

.crop_tool_labels label{
    float:left;
}
.crop_tool_labels #crop{
    max-width: 550px;
    min-width: 550px;
}
.crop_tool_labels #image_preview{
    position: relative;
    left: 27px
}
.jcrop-holder.error >img{
   border: 1px solid #ff0000 !important;
}

a#clearImage{
    display: inline-block;
    margin: 3px;
}

.dealForm .jcrop-holder {
    min-width: 450px;
    min-height: 258px;
    background-color: #f2f2f2!important;
}

#company_offer_file.error{
    border: 1px solid #ff0000;
}
/*END Offers new/edit form*/

/*Sorting filter*/
.sorting_wrap{
    display:inline-block;
}
.sorting_wrap >label{
    float:left;
    background: #c6c6c6;
    color: #414040;
    font-size: 20px;
    font-weight: bold;
   -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.sorting_wrap.lg_en >label{padding:18px 70px 18px 10px;}
.sorting_wrap.lg_bg >label{ padding:18px 8px 18px 10px;}
.sorting_wrap.lg_ro >label{ padding:18px 10px 18px 10px;}
.sorting_wrap.lg_sr >label{ padding:18px 34px 18px 10px;}
.sorting_wrap.lg_mk >label{ padding:18px 16px 18px 10px;}
.sorting_wrap.lg_ro ul.sorting_wrap{
    width: 666px;
}
ul.sorting_wrap{
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    width: 700px;
    list-style: none;
    background: #ebebeb;
    padding: 10px 48px 9px 20px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 0 14px 0;
}

ul.sorting_wrap li{
    float: left;
    width: 260px;
    color: #414040;
    padding-bottom: 2px;
    border-right: 1px solid #fff;
}
ul.sorting_wrap li .ez-radio{
    background-position: 4px 3px ;
}
ul.sorting_wrap li:nth-child(even){
    margin: 0 0 0 18px;
}
/*END Sorting filter*/
/*_form styles*/


/*END_form styles*/

